@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer utilities {
	.container {
		@apply mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8;
	}
}

:root {
	--background: #ffffff;
	--foreground: #030712;
	--card: #ffffff;
	--card-foreground: #030712;
	--popover: #ffffff;
	--popover-foreground: #030712;
	--primary: #7c3aed;
	--primary-foreground: #f6f8fc;
	--secondary: #e5eaf5;
	--secondary-foreground: #1c1f26;
	--muted: #e5eaf5;
	--muted-foreground: #737885;
	--accent: #e5eaf5;
	--accent-foreground: #1c1f26;
	--destructive: #e63946;
	--destructive-foreground: #f6f8fc;
	--border: #d4d9e5;
	--input: #d4d9e5;
	--ring: #7c3aed;
	--radius: 0.5rem;
	--chart-1: #e96426;
	--chart-2: #239d78;
	--chart-3: #144e5c;
	--chart-4: #e8bf29;
	--chart-5: #f9a03f;
}

.dark {
	--background: #030712;
	--foreground: #f6f8fc;
	--card: #030712;
	--card-foreground: #f6f8fc;
	--popover: #030712;
	--popover-foreground: #f6f8fc;
	--primary: #5d37d5;
	--primary-foreground: #f6f8fc;
	--secondary: #2b2f35;
	--secondary-foreground: #f6f8fc;
	--muted: #2b2f35;
	--muted-foreground: #9ea3b8;
	--accent: #2b2f35;
	--accent-foreground: #f6f8fc;
	--destructive: #7b1e23;
	--destructive-foreground: #f6f8fc;
	--border: #2b2f35;
	--input: #2b2f35;
	--ring: #5d37d5;
	--chart-1: #2563eb;
	--chart-2: #2ba56f;
	--chart-3: #d8852e;
	--chart-4: #9b42c3;
	--chart-5: #d61a5e;
}

@theme inline {
	--color-background: var(--background);

	--color-foreground: var(--foreground);

	--color-card: var(--card);

	--color-card-foreground: var(--card-foreground);

	--color-popover: var(--popover);

	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);

	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);

	--color-secondary-foreground: var(--secondary-foreground);

	--color-muted: var(--muted);

	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);

	--color-accent-foreground: var(--accent-foreground);

	--color-destructive: var(--destructive);

	--color-destructive-foreground: var(--destructive-foreground);

	--color-border: var(--border);

	--color-input: var(--input);

	--color-ring: var(--ring);

	--color-chart-1: var(--chart-1);

	--color-chart-2: var(--chart-2);

	--color-chart-3: var(--chart-3);

	--color-chart-4: var(--chart-4);

	--color-chart-5: var(--chart-5);

	--radius-sm: calc(var(--radius) - 4px);

	--radius-md: calc(var(--radius) - 2px);

	--radius-lg: var(--radius);

	--radius-xl: calc(var(--radius) + 4px);

	--color-sidebar: var(--sidebar);

	--color-sidebar-foreground: var(--sidebar-foreground);

	--color-sidebar-primary: var(--sidebar-primary);

	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

	--color-sidebar-accent: var(--sidebar-accent);

	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

	--color-sidebar-border: var(--sidebar-border);

	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@theme {
	--animate-spotlight: spotlight 2s ease 0.75s forwards;
	--animate-gradient: gradient 8s linear infinite;
	--animate-marquee: marquee var(--duration) linear infinite;
	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

	@keyframes spotlight {
		0% {
			opacity: 0;
			transform: translate(-72%, -62%) scale(0.5);
		}
		100% {
			opacity: 1;
			transform: translate(-50%, -40%) scale(1);
		}
	}

	@keyframes gradient {
		100% {
			background-position: var(--bg-size) 0;
		}
	}

	@keyframes marquee {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}

	@keyframes marquee-vertical {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(calc(-100% - var(--gap)));
		}
	}
}
